ul li {
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    padding-left: 100px;
}

a {
    text-decoration: none;
}

#background{
    background-image: url("../img/R.jpg");
    height: 800px;
}

#backgroundMedical{
    background-image: url("../img/cached_1920x0_mobicare\ medical\ services.png");
    height: 400px;
}

main{
    text-align: center;
}
#onsite{
    color: blue;
    text-align: center;
    font-size: 30px;
}
#info{
    margin-left: 100px;
    margin-right: 100px;
}
#welcome{
    color: red;
    text-align: center;
    font-size: 50px;
}
#imagess{
    text-align: center;
}
#img1, #img2{
    margin-right: 30px;
}
footer{
    background-color: darkolivegreen;
}